.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product-list {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Change to display vertically */
  align-items: center;
  justify-content: left;
  gap: 20px; /* Add gap between product cards */
}

.product-card {
  margin-top: 50px;
  max-width: 500px;
  width: auto;
  align-items: center;
  background-color: white;
}
