<mat-toolbar>
  <mat-toolbar-row>
    <span>SuperKart</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="login-container">
  <mat-card class="login-card">
    <img
      src="https://th.bing.com/th/id/OIP.iQ53vCLA0AZf7kmYZEKWVAHaHa?w=180&h=180&c=7&r=0&o=5&pid=1.7"
      width="30%"
    />
    <mat-card-content>
      <button mat-raised-button (click)="authService.GoogleAuth()">
        <mat-icon class="google-icon">google</mat-icon> Login with Google
      </button>
    </mat-card-content>
  </mat-card>
</div>
