.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product-list {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Change to display vertically */
  gap: 20px; /* Add gap between product cards */
}

.product-card {
  display: flex;
  justify-content: center;
  height: 200px;
  width: auto;
  max-width: 900px;
  background-color: white;
}

.clear {
  width: 100px;
  position: absolute;
  margin-top: 100px;
  margin-left: 1000px;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-card {
  max-width: 400px;
  text-align: center;
  padding: 20px;
  background-color: white;
}
.btn {
  position: absolute;
  margin-top: 50px;
  margin-left: 1000px;
  width: auto;
}
