.home-container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
}

.hero-card {
  max-width: 400px;
  text-align: left;
  padding: 20px;
  margin-left: 100px;
}
.home-container {
  width: 100%;
  background-size: cover;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/457/130/original/online-shopping-isometric-illustration-modern-flat-design-style-for-website-and-mobile-website-vector-illustration.jpg");
}
